@charset "UTF-8";



img{
    width: 277px;
    height: 97px;
    margin-top: -35px;
    margin-bottom: -3px
}
h1{
    background-color:#00457C;
    color: rgb(255, 255, 255);

    text-align: center;
    padding: 5px;
    width:  1001px;
    height: 35px;
    margin:auto;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 5px 5px 5px #0000005b;
    text-align: center;
    
    
}
body{
    color: #006634;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    
    
    
    

}

    

#aa{
   
    background-color: #3a7c85;
    font-size: 18px ;
    padding: 20px;
    margin: 0px -5px;
    width: 300px;
    height: 429px;
    display: inline-grid;
    border-radius:0px 0px 8px 8px;
    box-shadow: 5px 5px 5px #0000005b;


    }
#aa > h2 {
    color: rgb(11, 5, 61);
    font-size: 20px;
    font-weight: 800;
    
    
}


div > p{
    margin: 10px;

}
a{
    
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    margin: 5px;
    
}

a:hover{
    color: #000000;
    transition-delay: 0.1s;
    transition: 200ms linear;
}

h2{
    color: #00457C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#a{
    color: #000000;
    text-align: right;
    margin: 0%;
}
/*
#b{
    background-color: brown;
    width: 100px;
    height: 100px;
    display: inline-block;
} 